zenml==0.36.1 # 0.35.1 no fastapi dependency
tensorflow-macos==2.11.0
tensorflow-metal==0.7.1
pandas==1.5.3
scikit-learn==1.2.2
fastapi==0.95.0 # need by zenml onwards 0.36.0
# model-card-toolkit
# model-card-toolkit==1.3.2