## pip install --upgrade pip
## On Intel Mac (tensorflow-metal works with tensorflow) and also (tensorflow-macos, tfx, tensorlfow-metal) works with AMD GPU accelerator

# tensorflow==2.12.0
# tensorflow-metal==0.8.0
# tfx==1.13.0
# pyarrow==6.0.0

tensorflow>=2.16.0
tensorflow-metal==1.1.0
tfx==1.16.0
# pyarrow>=10.0.1